{
  "prettier": {
    "printWidth": 90,
    "bracketSpacing": false,
    "trailingComma": "es5",
    "jsxBracketSameLine": false,
    "useTabs": true,
    "semi": true,
    "arrowParens": "avoid"
  }
}